<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo test suite" verbose="1">

    <test name="Twitter testing test case" >
        <classes>
            <class name="com.twitter.automation.tests.TwitterTest" />
        </classes>
    </test>

    <test name="Failed test example" >
        <classes>
            <class name="com.twitter.automation.tests.SomeFailedTest" />
        </classes>
    </test>

</suite>